<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!--begin::Head-->
  <head>
    <base href="../../../../" />
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <link rel="shortcut icon" href="public/common/img/favicon.png" />
    <!--begin::Fonts(mandatory for all pages)-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"
    />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link
      href="public/metronic/plugins/custom/fullcalendar/fullcalendar.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="public/metronic/plugins/custom/datatables/datatables.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link
      href="public/metronic/plugins/global/plugins.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="public/metronic/css/style.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Global Stylesheets Bundle-->
    <link href="public/common/css/style.css" rel="stylesheet" type="text/css" />
    <script>
      // Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }
    </script>
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body
    id="kt_app_body"
    data-kt-app-layout="dark-sidebar"
    data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true"
    data-kt-app-sidebar-fixed="true"
    data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true"
    data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true"
    data-kt-app-toolbar-enabled="true"
    class="app-default"
  >
    <!--begin::Theme mode setup on page load-->
    <!-- <script>
      var defaultThemeMode = "dark";
    </script> -->
    <!--end::Theme mode setup on page load-->
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
      <!--begin::Page-->
      <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        <!--begin::Header-->
        <div
          id="kt_app_header"
          class="app-header"
          data-kt-sticky="true"
          data-kt-sticky-activate="{default: true, lg: true}"
          data-kt-sticky-name="app-header-minimize"
          data-kt-sticky-offset="{default: '200px', lg: '0'}"
          data-kt-sticky-animation="false"
        >
          <!--begin::Header container-->
          <div
            class="app-container container-fluid d-flex align-items-stretch justify-content-between"
            id="kt_app_header_container"
          >
            <!--begin::Sidebar mobile toggle-->
            <div
              class="d-flex align-items-center d-lg-none ms-n3 me-1 me-md-2"
              title="Show sidebar menu"
            >
              <div
                class="btn btn-icon btn-active-color-primary w-35px h-35px"
                id="kt_app_sidebar_mobile_toggle"
              >
                <i class="ki-duotone ki-abstract-14 fs-2 fs-md-1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </div>
            </div>
            <!--end::Sidebar mobile toggle-->
            <!--begin::Mobile logo-->
            <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
              <a href="index.html" class="d-lg-none">
                <img
                  alt="Logo"
                  src="public/metronic/media/logos/default-small.svg"
                  class="h-30px"
                />
              </a>
            </div>
            <!--end::Mobile logo-->
            <!--begin::Header wrapper-->
            <div
              class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
              id="kt_app_header_wrapper"
            >
              <!--begin::Menu wrapper-->
              <div
                class="app-header-menu app-header-mobile-drawer align-items-stretch"
                data-kt-drawer="true"
                data-kt-drawer-name="app-header-menu"
                data-kt-drawer-activate="{default: true, lg: false}"
                data-kt-drawer-overlay="true"
                data-kt-drawer-width="250px"
                data-kt-drawer-direction="end"
                data-kt-drawer-toggle="#kt_app_header_menu_toggle"
                data-kt-swapper="true"
                data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
                data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}"
              ></div>
              <!--end::Menu wrapper-->
              <!--begin::Navbar-->
              <div class="app-navbar flex-shrink-0">
                <!--begin::User menu-->
                <div
                  class="app-navbar-item ms-1 ms-md-4"
                  id="kt_header_user_menu_toggle"
                >
                  <!--begin::Menu wrapper-->
                  <div
                    class="cursor-pointer symbol symbol-35px"
                    data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                    data-kt-menu-attach="parent"
                    data-kt-menu-placement="bottom-end"
                  >
                    <img
                      src="public/metronic/media/avatars/blank.png"
                      class="rounded-3"
                      alt="user"
                    />
                  </div>
                  <!--begin::User account menu-->
                  <div
                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
                    data-kt-menu="true"
                  >
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                      <div class="menu-content d-flex align-items-center px-3">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-50px me-5">
                          <img
                            alt="Logo"
                            src="public/metronic/media/avatars/blank.png"
                          />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Username-->
                        <div class="d-flex flex-column" id="user-profile">
                          <div class="fw-bold d-flex align-items-center fs-5">
                            Robert Fox
                          </div>
                          <a
                            href="#"
                            class="fw-semibold text-muted text-hover-primary fs-7"
                            >robert@kt.com</a
                          >
                        </div>
                        <!--end::Username-->
                      </div>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu separator-->
                    <div class="separator my-2"></div>
                    <!--end::Menu separator-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-5">
                      <a href="#" class="menu-link px-5" id="sign-out"
                        >Sign Out</a
                      >
                    </div>
                    <!--end::Menu item-->
                  </div>
                  <!--end::User account menu-->
                  <!--end::Menu wrapper-->
                </div>
                <!--end::User menu-->
                <!--begin::Header menu toggle-->
                <div
                  class="app-navbar-item d-lg-none ms-2 me-n2"
                  title="Show header menu"
                >
                  <div
                    class="btn btn-flex btn-icon btn-active-color-primary w-30px h-30px"
                    id="kt_app_header_menu_toggle"
                  >
                    <i class="ki-duotone ki-element-4 fs-1">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                  </div>
                </div>
                <!--end::Header menu toggle-->
                <!--begin::Aside toggle-->
                <!--end::Header menu toggle-->
              </div>
              <!--end::Navbar-->
            </div>
            <!--end::Header wrapper-->
          </div>
          <!--end::Header container-->
        </div>
        <!--end::Header-->
        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
          <!--begin::Sidebar-->
          <div
            id="kt_app_sidebar"
            class="app-sidebar flex-column"
            data-kt-drawer="true"
            data-kt-drawer-name="app-sidebar"
            data-kt-drawer-activate="{default: true, lg: false}"
            data-kt-drawer-overlay="true"
            data-kt-drawer-width="225px"
            data-kt-drawer-direction="start"
            data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
          >
            <!--begin::Logo-->
            <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
              <!--begin::Logo image-->
              <a href="index.html">
                <img
                  alt="Logo"
                  src="public/metronic/media/logos/default-dark.svg"
                  class="h-25px app-sidebar-logo-default"
                />
                <img
                  alt="Logo"
                  src="public/metronic/media/logos/default-small.svg"
                  class="h-20px app-sidebar-logo-minimize"
                />
              </a>
              <!--end::Logo image-->
              <!--begin::Sidebar toggle-->
              <!--begin::Minimized sidebar setup:
            if (isset($_COOKIE["sidebar_minimize_state"]) && $_COOKIE["sidebar_minimize_state"] === "on") { 
                1. "src/js/layout/sidebar.js" adds "sidebar_minimize_state" cookie value to save the sidebar minimize state.
                2. Set data-kt-app-sidebar-minimize="on" attribute for body tag.
                3. Set data-kt-toggle-state="active" attribute to the toggle element with "kt_app_sidebar_toggle" id.
                4. Add "active" class to to sidebar toggle element with "kt_app_sidebar_toggle" id.
            }
        -->
              <div
                id="kt_app_sidebar_toggle"
                class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate"
                data-kt-toggle="true"
                data-kt-toggle-state="active"
                data-kt-toggle-target="body"
                data-kt-toggle-name="app-sidebar-minimize"
              >
                <i class="ki-duotone ki-black-left-line fs-3 rotate-180">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </div>
              <!--end::Sidebar toggle-->
            </div>
            <!--end::Logo-->
            <!--begin::sidebar menu-->
            <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
              <!--begin::Menu wrapper-->
              <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
                <!--begin::Scroll wrapper-->
                <div
                  id="kt_app_sidebar_menu_scroll"
                  class="scroll-y my-5 mx-3"
                  data-kt-scroll="true"
                  data-kt-scroll-activate="true"
                  data-kt-scroll-height="auto"
                  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
                  data-kt-scroll-offset="5px"
                  data-kt-scroll-save-state="true"
                >
                  <!--begin::Menu-->
                  <div
                    class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
                    id="#kt_app_sidebar_menu"
                    data-kt-menu="true"
                    data-kt-menu-expand="false"
                  >
                    <!--begin:Menu item-->
                    <div class="menu-item pt-0">
                      <!--begin:Menu content-->
                      <div class="menu-content pt-lg-0">
                        <span class="menu-heading fw-bold text-uppercase fs-7"
                          >Main</span
                        >
                      </div>
                      <!--end:Menu content-->
                    </div>
                    <!--begin:Menu item-->
                    <div class="menu-item">
                      <!--begin:Menu link-->
                      <a
                        class="menu-link"
                        href="https://fe-alung-ta-dot-b-01-450713.uc.r.appspot.com/src/views/admin/dashboard.html"
                        target="_self"
                      >
                        <span class="menu-icon">
                          <i class="ki-duotone ki-home fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                      </a>
                      <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item mt-2">
                      <!--begin:Menu content-->
                      <div class="menu-content pt-lg-0">
                        <span class="menu-heading fw-bold text-uppercase fs-7"
                          >Data Management</span
                        >
                      </div>
                      <!--end:Menu content-->
                    </div>
                    <!--begin:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item">
                      <!--begin:Menu link-->
                      <a
                        class="menu-link"
                        href="https://fe-alung-ta-dot-b-01-450713.uc.r.appspot.com/src/views/admin/news/index.html"
                        target="_self"
                      >
                        <span class="menu-icon">
                          <i class="ki-duotone ki-abstract-26 fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                        <span class="menu-title">News</span>
                      </a>
                      <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item">
                      <!--begin:Menu link-->
                      <a
                        class="menu-link"
                        href="https://fe-alung-ta-dot-b-01-450713.uc.r.appspot.com/src/views/admin/category/index.html"
                        target="_self"
                      >
                        <span class="menu-icon">
                          <i class="ki-duotone ki-category fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                          </i>
                        </span>
                        <span class="menu-title">Category</span>
                      </a>
                      <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div class="menu-item">
                      <!--begin:Menu link-->
                      <a
                        class="menu-link"
                        href="https://fe-alung-ta-dot-b-01-450713.uc.r.appspot.com/src/views/admin/user/index.html"
                        target="_self"
                      >
                        <span class="menu-icon">
                          <i class="ki-duotone ki-profile-user fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                          </i>
                        </span>
                        <span class="menu-title">User</span>
                      </a>
                      <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                  </div>
                  <!--end::Menu-->
                </div>
                <!--end::Scroll wrapper-->
              </div>
              <!--end::Menu wrapper-->
            </div>
            <!--end::sidebar menu-->
          </div>
          <!--end::Sidebar-->
          <!--begin::Main-->
          <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">
              <!--begin::Toolbar-->
              <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                <!--begin::Toolbar container-->
                <div
                  id="kt_app_toolbar_container"
                  class="app-container container-fluid d-flex flex-stack"
                >
                  <!--begin::Page title-->
                  <div
                    class="page-title d-flex flex-column justify-content-center flex-wrap me-3"
                  >
                    <!--begin::Title-->
                    <h1
                      class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0"
                    >
                      User Management
                    </h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul
                      class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1"
                    >
                      <!--begin::Item-->
                      <li class="breadcrumb-item text-muted">
                        <a class="text-muted text-hover-primary">Home</a>
                      </li>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                      </li>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <li class="breadcrumb-item text-muted">Users</li>
                      <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                  </div>
                  <!--end::Page title-->
                </div>
                <!--end::Toolbar container-->
              </div>
              <!--end::Toolbar-->
              <!--begin::Content-->
              <div id="kt_app_content" class="app-content flex-column-fluid">
                <!--begin::Content container-->
                <div
                  id="kt_app_content_container"
                  class="app-container container-fluid"
                >
                  <!--begin::Card-->
                  <div class="card">
                    <!--begin::Card header-->
                    <div class="card-header border-0 pt-6">
                      <!--begin::Card title-->
                      <div class="card-title">
                        <!--begin::Search-->
                        <!-- <div class="d-flex align-items-center position-relative my-1">
<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
<span class="path1"></span>
<span class="path2"></span>
</i>
<input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search user" />
</div> -->
                        <!--end::Search-->
                      </div>
                      <!--begin::Card title-->
                      <!--begin::Card toolbar-->
                      <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div
                          class="d-flex justify-content-end"
                          data-kt-user-table-toolbar="base"
                        >
                          <!--begin::Add user-->
                          <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#kt_modal_add_user"
                          >
                            <i class="ki-duotone ki-plus fs-2"></i>Add User
                          </button>
                          <!--end::Add user-->
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Modal - Add task-->
                        <div
                          class="modal fade"
                          id="kt_modal_add_user"
                          tabindex="-1"
                          aria-hidden="true"
                        >
                          <!--begin::Modal dialog-->
                          <div
                            class="modal-dialog modal-dialog-centered mw-650px"
                          >
                            <!--begin::Modal content-->
                            <div class="modal-content">
                              <!--begin::Modal header-->
                              <div
                                class="modal-header"
                                id="kt_modal_add_user_header"
                              >
                                <!--begin::Modal title-->
                                <h2 class="fw-bold">Add User</h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div
                                  class="btn btn-icon btn-sm btn-active-icon-primary"
                                  data-kt-users-modal-action="close"
                                  data-bs-dismiss="modal"
                                >
                                  <i class="ki-duotone ki-cross fs-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                  </i>
                                </div>
                                <!--end::Close-->
                              </div>
                              <!--end::Modal header-->
                              <!--begin::Modal body-->
                              <div class="modal-body px-5 my-7">
                                <!--begin::Form-->
                                <form
                                  id="kt_modal_add_user_form"
                                  class="form"
                                  action="#"
                                >
                                  <!--begin::Scroll-->
                                  <div
                                    class="d-flex flex-column scroll-y px-5 px-lg-10"
                                  >
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Name</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="text"
                                        name="user_name"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Full name"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <!-- <div class="mb-10">
<label class="form-label fs-6 fw-semibold">Role:</label>
<select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="role" data-hide-search="true">
<option></option>
<option value="1">Super Admin</option>
<option value="2">Admin</option>
</select>
</div> -->
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Username</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="text"
                                        name="user_username"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Username"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Password</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="password"
                                        name="user_password"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                  </div>
                                  <!--end::Scroll-->
                                  <!--begin::Actions-->
                                  <div class="text-center pt-10">
                                    <button
                                      type="submit"
                                      class="btn btn-primary"
                                      data-kt-users-modal-action="submit"
                                    >
                                      <span class="indicator-label"
                                        >Submit</span
                                      >
                                      <span class="indicator-progress"
                                        >Please wait...
                                        <span
                                          class="spinner-border spinner-border-sm align-middle ms-2"
                                        ></span
                                      ></span>
                                    </button>
                                  </div>
                                  <!--end::Actions-->
                                </form>
                                <!--end::Form-->
                              </div>
                              <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                          </div>
                          <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add task-->
                        <!--begin::Modal - Edit User-->
                        <div
                          class="modal fade"
                          id="kt_modal_edit_user"
                          tabindex="-1"
                          aria-hidden="true"
                        >
                          <!--begin::Modal dialog-->
                          <div
                            class="modal-dialog modal-dialog-centered mw-650px"
                          >
                            <!--begin::Modal content-->
                            <div class="modal-content">
                              <!--begin::Modal header-->
                              <div
                                class="modal-header"
                                id="kt_modal_edit_user_header"
                              >
                                <!--begin::Modal title-->
                                <h2 class="fw-bold">Edit User</h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div
                                  class="btn btn-icon btn-sm btn-active-icon-primary"
                                  data-kt-users-modal-action="close"
                                  data-bs-dismiss="modal"
                                >
                                  <i class="ki-duotone ki-cross fs-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                  </i>
                                </div>
                                <!--end::Close-->
                              </div>
                              <!--end::Modal header-->
                              <!--begin::Modal body-->
                              <div class="modal-body px-5 my-7">
                                <!--begin::Form-->
                                <form
                                  id="kt_modal_edit_user_form"
                                  class="form"
                                  action="#"
                                >
                                  <!--begin::Scroll-->
                                  <div
                                    class="d-flex flex-column scroll-y px-5 px-lg-10"
                                  >
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Name</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="text"
                                        name="user_name"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Full name"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <!-- <div class="mb-10">
<label class="form-label fs-6 fw-semibold">Role:</label>
<select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="role" data-hide-search="true">
<option></option>
<option value="1">Super Admin</option>
<option value="2">Admin</option>
</select>
</div> -->
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Username</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="text"
                                        name="user_username"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Username"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7">
                                      <!--begin::Label-->
                                      <label
                                        class="required fw-semibold fs-6 mb-2"
                                        >Password</label
                                      >
                                      <!--end::Label-->
                                      <!--begin::Input-->
                                      <input
                                        type="password"
                                        name="user_password"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                      />
                                      <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                  </div>
                                  <!--end::Scroll-->
                                  <!--begin::Actions-->
                                  <div class="text-center pt-10">
                                    <button
                                      type="submit"
                                      class="btn btn-primary"
                                      data-kt-users-modal-action="submit"
                                    >
                                      <span class="indicator-label"
                                        >Submit</span
                                      >
                                      <span class="indicator-progress"
                                        >Please wait...
                                        <span
                                          class="spinner-border spinner-border-sm align-middle ms-2"
                                        ></span
                                      ></span>
                                    </button>
                                  </div>
                                  <!--end::Actions-->
                                </form>
                                <!--end::Form-->
                              </div>
                              <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                          </div>
                          <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add task-->
                      </div>
                      <!--end::Card toolbar-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body py-4">
                      <!--begin::Table-->
                      <table
                        class="table align-middle table-row-dashed fs-6 gy-5"
                        id="kt_table_users"
                      >
                        <thead>
                          <tr
                            class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
                          >
                            <th>#</th>
                            <th class="min-w-125px">Name</th>
                            <th class="min-w-125px">Username</th>
                            <!-- <th class="min-w-125px">Role</th> -->
                            <th class="min-w-125px">Joined Date</th>
                            <th class="text-end min-w-100px">Actions</th>
                          </tr>
                        </thead>
                        <tbody
                          class="text-gray-600 fw-semibold"
                          id="user-table-body"
                        >
                          <!--  -->
                        </tbody>
                      </table>
                      <!--end::Table-->
                    </div>
                    <!--end::Card body-->
                  </div>
                  <!--end::Card-->
                </div>
                <!--end::Content container-->
              </div>
              <!--end::Content-->
            </div>
            <!--end::Content wrapper-->
            <!--begin::Footer-->

            <div id="kt_app_footer" class="app-footer">
              <!--begin::Footer container-->
              <div
                class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3"
              >
                <!--begin::Copyright-->
                <div class="text-gray-900 order-2 order-md-1">
                  <span class="text-muted fw-semibold me-1">2025&copy;</span>
                  <a class="text-gray-800 text-hover-primary">Metronic</a>
                </div>
                <!--end::Copyright-->
              </div>
              <!--end::Footer container-->
            </div>
            <!--end::Footer-->
          </div>
          <!--end:::Main-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Page-->
    </div>
    <!--end::App-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
      <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </div>
    <!--end::Scrolltop-->
    <!--end::Modals-->
    <!--begin::Javascript-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const beUrl =
          "https://be-trigger-ta-alung-1061342868557.us-central1.run.app";
        const feUrl = "https://fe-alung-ta-dot-b-01-450713.uc.r.appspot.com/src/views";
        fetch(`${beUrl}/api/get-logged-in-user`, {
          method: "GET",
          headers: {
            Authorization: "Bearer " + localStorage.getItem("accessToken"),
          },
        })
          .then((response) => {
            if (response.status === 401) {
              localStorage.removeItem("accessToken");
              window.location.href = `${feUrl}/login.html`;
              return Promise.reject(); // Stop chain
            }
            return response.json();
          })
          .then((user) => {
            if (user && user.username) {
              const profile = document.getElementById("user-profile");
              if (profile) {
                profile.innerHTML = `
								<div class="fw-bold d-flex align-items-center fs-5">${
                  user.name || user.username
                }</div>
								<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">${
                  user.username
                }</a>
							`;
              }
            }
          })
          .catch(() => {
            const profile = document.getElementById("user-profile");
            if (profile) {
              profile.innerHTML = `
							<div class="fw-bold d-flex align-items-center fs-5">Guest</div>
							<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">
								Not logged in
							</a>
						`;
            }
          });

        const signOutBtn = document.getElementById("sign-out");
        if (signOutBtn) {
          signOutBtn.addEventListener("click", function (e) {
            e.preventDefault();
            localStorage.removeItem("accessToken");
            fetch(`${beUrl}/logout`, {
              method: "POST",
              credentials: "include",
            }).finally(() => {
              window.location.href = `${feUrl}/login.html`;
            });
          });
        }

        const fetchUsers = () => {
          fetch(`${beUrl}/api/users`, {
            headers: {
              Authorization: `Bearer ${
                localStorage.getItem("accessToken") || ""
              }`,
            },
          })
            // .then(response => {
            .then((response) => {
              if (response.status === 401) {
                window.location.href = `${feUrl}/login.html`;
                return;
              }
              if (!response.ok) {
                throw new Error("Failed to fetch users");
              }
              return response.json();
            })
            .then((users) => {
              const tbody = document.getElementById("user-table-body");
              if (!Array.isArray(users) || users.length === 0) {
                tbody.innerHTML = `<tr><td colspan="5" class="text-center text-muted">No users found</td></tr>`;
                return;
              }
              tbody.innerHTML = users
                .map(
                  (user, idx) => `
                    <tr data-user-id="${user.id}">
                        <td>${idx + 1}</td>
                        <td>${user.name}</td>
                        <td>${user.username}</td>
						<td>${
              user.createdAt
                ? new Date(user.createdAt).toLocaleDateString("id-ID", {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                  })
                : "-"
            }</td>                        <td class="text-end">
                            <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions 
                                <i class="ki-duotone ki-down fs-5 ms-1"></i>
                            </a>
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                <div class="menu-item px-3">
                                    <a class="menu-link px-3" data-kt-users-table-filter="delete_row">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                `
                )
                .join("");
              if (window.KTMenu) {
                KTMenu.createInstances();
              }
            })
            .catch((error) => {
              console.error("Error fetching users:", error);
              document.getElementById(
                "user-table-body"
              ).innerHTML = `<tr><td colspan="5" class="text-center text-danger">Failed to load users</td></tr>`;
            });
        };

        fetchUsers();

        const form = document.getElementById("kt_modal_add_user_form");
        if (form) {
          form.addEventListener("submit", function (e) {
            e.preventDefault();

            const name = form.user_name.value.trim();
            const username = form.user_username.value.trim();
            const password = form.user_password.value;

            // Validasi sederhana
            if (!name || !username || !password) {
              alert("Name, username, and password are required.");
              return;
            }

            // Disable tombol submit & tampilkan loading
            const submitBtn = form.querySelector(
              '[data-kt-users-modal-action="submit"]'
            );
            submitBtn.disabled = true;
            submitBtn.querySelector(".indicator-label").style.display = "none";
            submitBtn.querySelector(".indicator-progress").style.display =
              "inline-block";

            fetch(`${beUrl}/api/users`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${
                  localStorage.getItem("accessToken") || ""
                }`,
              },
              body: JSON.stringify({ name, username, password }),
            })
              .then((response) =>
                response
                  .json()
                  .then((data) => ({ status: response.status, body: data }))
              )
              .then(({ status, body }) => {
                if (status === 201) {
                  // Sukses
                  // Tutup modal (jika pakai Bootstrap 5)
                  const modal = bootstrap.Modal.getInstance(
                    document.getElementById("kt_modal_add_user")
                  );
                  if (modal) modal.hide();

                  // Reset form
                  form.reset();

                  // Refresh data user
                  fetchUsers();

                  alert("User berhasil ditambahkan!");
                } else {
                  // Tampilkan pesan error
                  alert(body.message || "Gagal menambah user");
                }
              })
              .catch((error) => {
                alert("Terjadi kesalahan saat menambah user");
                console.error(error);
              })
              .finally(() => {
                // Enable tombol submit & sembunyikan loading
                submitBtn.disabled = false;
                submitBtn.querySelector(".indicator-label").style.display = "";
                submitBtn.querySelector(".indicator-progress").style.display =
                  "none";
              });
          });
        }

        function handleDeleteUser() {
          // Delegasi event pada tbody agar tetap berfungsi setelah render ulang
          document
            .getElementById("user-table-body")
            .addEventListener("click", function (e) {
              const target = e.target.closest(
                '[data-kt-users-table-filter="delete_row"]'
              );
              if (target) {
                e.preventDefault();
                // Ambil baris dan username/id user
                const tr = target.closest("tr");
                const username =
                  tr.querySelector("td:nth-child(3)").textContent;
                // Konfirmasi hapus
                if (confirm(`Hapus user "${username}"?`)) {
                  // Ambil id user dari data attribute (sebaiknya tambahkan id di render tabel)
                  const userId = tr.getAttribute("data-user-id");
                  if (!userId) {
                    alert("User ID tidak ditemukan.");
                    return;
                  }
                  fetch(`${beUrl}/api/users/${userId}`, {
                    method: "DELETE",
                    headers: {
                      Authorization: `Bearer ${
                        localStorage.getItem("accessToken") || ""
                      }`,
                    },
                  })
                    .then((res) => res.json())
                    .then((data) => {
                      if (data.message === "User deleted successfully") {
                        // Refresh tabel user
                        fetchUsers();
                        alert("User berhasil dihapus!");
                      } else {
                        alert(data.message || "Gagal menghapus user");
                      }
                    })
                    .catch(() =>
                      alert("Terjadi kesalahan saat menghapus user")
                    );
                }
              }
            });
        }
        handleDeleteUser();
      });
    </script>
    <script>
      var hostUrl = "public/metronic/";
    </script>
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="public/metronic/plugins/global/plugins.bundle.js"></script>
    <script src="public/metronic/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="public/metronic/js/custom/apps/ecommerce/catalog/save-product.js"></script>
    <script src="public/metronic/js/widgets.bundle.js"></script>
    <script src="public/metronic/js/custom/widgets.js"></script>
    <!-- <script src="public/metronic/js/custom/utilities/modals/users-search.js"></script> -->
    <!--end::Custom Javascript-->
    <!--end::Javascript-->
  </body>
  <!--end::Body-->
</html>
